
*{
	padding: 0px;
	margin: 0px;
    font-family: 'Rubik', sans-serif;
  
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* left side start */

.header_lft_main{
    position: relative;
    background:#003147 !important;
    color: #fff;
}

.header_left h2{
	color: #ffffff;
    margin: 10px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    text-align: center !important;

}

.header_left .position_title{
    text-align: center;
    font-size: 15px;
    padding: 5px 0px 10px 0px;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.2rem;
}


.header_left img{
	width: 100%;
	height: 100%;
	max-height: 200px;
	max-width: 200px;
    overflow: hidden;
    position: absolute;
}

.imgs{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100px;
    left: 23%;

}

.about_me{
    margin-top: 99px;
    padding-bottom: -50px;
    min-height: 278px;
    background: rgb(128, 39, 39);
    position: relative;
    padding: 0px 10px;

}

.about_me p{
font-family: 'Poiret One', cursive;
text-align: justify;
}

.about_me .title{
    padding-top: 70px; 
    color: #0da566;
     font-weight: 600;
     font-family: none;
     margin: 10px 0px;
     letter-spacing: 0.1rem;
     text-shadow: 2px 2px 4px #000000;
     padding-top: 105px;
     text-align: center;
 }




.personal_info .per{
    margin: 10px 0px 10px 0px;
    padding: 4px 0px;
    background: red;
    border-radius: 20px;
}
.personal_info .per h5{
    letter-spacing: 0.1rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    text-transform: capitalize;
    padding: 3px;
    padding-left: 10px;
    
}


.personal_info ul li{
    list-style: none;
    line-height: 30px;
    
}

/* Right side start */

.right_side{
    position: relative;
    background: #fff;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,0.1);

}